
<section id="tour-dates">
  <div class="container">
    
    <h3 class="center">Tour Dates</h3>
    <br>
        <div class="row event" *ngFor="let ev of events">
            <div class="col sm12 m12 l12">
                <div class="event title">
                    <h4>Retrieve - {{ev.venue.name}}</h4>
      
                </div>
                <div class="event detail">
                    <i class="material-icons">date_range</i>{{ev.datetime | date: 'dd/MM/yyyy'}} <i class="material-icons">location_on</i>{{ev.venue.city}}

                    <p></p>
                </div>
      
               <div class="event buttons right">
                    <a class="waves-effect waves-light btn black" href="{{ev.url}}">saiba mais</a>
               </div>
            </div>
          </div>
    
  </div>
</section>
