#tour-dates{
    margin: 0.8em;
    color: rgb(185, 182, 182);
   
    text-transform: uppercase;
}

#tour-dates h4{
    font-size: 1.3em;
}


.event{
    color: #fff;
    background-color: #1E1F00;
    font-family: 'Montserrat', sans-serif;
    margin: 1.0em;
    opacity: 0.7;

    font-weight: normal;
}

.event:hover{
    opacity: 1.0;
}


.event .detail, .title{
    color: #fff;
    opacity: 1.0;
}

.event .detail{
    margin-top: 2em;
}