#tour-dates{
    margin: 0.8em;
    color: rgb(185, 182, 182);
   
    text-transform: uppercase;
}

.event{
    color: #fff;
    background-color: #444;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin: 1.3em;
}

.event .button .btn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}