#contato-header{
    background-color: #fff;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    opacity: 0.8;

}

#contato-header img {
    width: 2em;
    margin-left: 0.5em;
}