
<section id="stream-midia"> 
  <div class="container">

      <div class="row">
          <div class="col md2"></div>
          <div class="col md8">
              <rt-midia image="spotify.png" alt="Spotify" link="https://open.spotify.com/artist/2VffcZIjQzwHZe9AH82BS1"></rt-midia>
              <rt-midia image="deezer.png" alt="Deezer" link="http://www.deezer.com/artist/8054877"></rt-midia>
              <rt-midia image="googleplay.png" alt="Spotify" link="https://play.google.com/music/listen#/artist/Avqx4yigv56hgqswqv6smgm525e/Retrieve"></rt-midia>
              <rt-midia image="applemusic.png" alt="Spotify" link=""></rt-midia>
          </div>
          <div class="col md2"></div>
      </div>
  
  </div>
</section>