
.watch{
    
    text-transform: uppercase;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 30%;
    border: solid #fff 3px;
    opacity: 0.6;
    padding: 10px;
    text-align: center;
    width: 40%;
    font-family: 'Slabo 27px', serif;
}

.watch a {
    font-size: 2em;
    color: #fff;
    text-decoration:none;
    margin: 2em;
}


.watch a:hover {
    text-shadow: 5px 40px #E81A0F;
    opacity: 0.6;
    font-family: 'Shadows Into Light', cursive;
}

@media screen and (max-width:900px){
    .watch{
        font-size: 10px;
        width: 100%;
        top: 15%;
        left: 0%;
    }

}


