
<section id="social-midia">


    <div class="title">
        <h1>SIGA - NOS </h1>    
    </div>
    <div class="container">
        <div class="row">
            <div class="col m2"></div>
            <div class="col s12 m8">
               <a href="https://www.facebook.com/RetrieveOficial/"><img src="assets/img/facebook.png" alt="Facebook"></a>
               <a href="https://www.instagram.com/retrieveoficial/"><img src="assets/img/instagram.png" alt="Instagram"></a>
               <a href="https://www.youtube.com/channel/UCPRbByzFSbWfmJQKZfxipRQ"><img src="assets/img/youtubef.png" alt="Youtube"></a>
            </div>
            <div class="col m2"></div>
        </div>
        
        <div class="footer-text">
            <p>
                ©2017 Retrieve Oficial. Todos os direitos reservados
            </p>
            <p>
                Desenvolvido por <a href="">André Lucas </a>
            </p>
        </div>
    </div>

</section>
