
<section id="parallax-retrieve">
        <div class="">
                <div class="parallax">
                    <img src="assets/img/parallax.jpg" alt="Retrieve">
                </div>
            </div>
</section>


<section id="social-midia">


    <div class="title">
        <h1>SIGA - NOS </h1>    
    </div>
    <div class="container">
        <div class="row">
            <div >

            </div>
        </div>
        
        <div class="footer-text">
            <p>
                ©2017 Retrieve Oficial.  T o d o s    o s    d i r e i t o s    r e s e r v a d o s
            </p>
            <p>
                Desenvolvido por André Lucas
            </p>
        </div>
    </div>

</section>
