#social-midia{
    background-color : #ffffff;
      
    text-align: center;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    opacity: 0.8;
}

.title{
    padding-top: 5%;
}

.footer-text{
    margin-top: 20%;

}

#social-midia img {
    margin-top: 10em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 3em;
}