img {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 0.5em;
    
}

@media screen and (max-width: 900px){
    img {
        width: 50%;
        margin-top: 1em;
        margin-bottom: 0.5em;
        
    }
}

